* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Dodano, aby wszystkie elementy były poprawnie wyrównane */
    font-family: "Open Sans", sans-serif;
    background-color: white;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%; /* Opcjonalne ograniczenie szerokości */
    margin: auto; /* Wyśrodkowanie kontenera */
}

#img-div {
    position: relative; /* Pozostawiamy jako relative */   
    width: 100%;
}

#image {
    width: 100%;
    max-width: 100%;
    height: auto; /* Zachowanie proporcji obrazu */
    display: block; /* Usunięcie przestrzeni poniżej obrazka */
}

.box {
    position: absolute; /* Pozycjonowanie absolutne względem kontenera */
    bottom: 0; /* Umieszczenie na dole kontenera */
    width: 100%;
    height: 300px; /* Określona wysokość, która pokryje dolną część obrazu */
    background-color: white;
    z-index: 1; /* Zapewnia, że box będzie nad obrazem */
    display: block; /* Flexbox do wyśrodkowania tekstu */
    align-items: center; /* Wyśrodkowanie pionowe */
    justify-content: center; /* Wyśrodkowanie poziome */
}

.box > h2 {
    margin: 0; /* Usunięcie marginesów wokół tekstu */
    text-align: center;
    padding: 50px;
}

.box > h3 {
    margin: 0;
    text-align: center;
    padding: 30px;
}

.box > p {
    margin: 0;
    text-align: center;
}

.box > a {
    margin: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .box {
        height: 100px; /* Dynamiczna wysokość na mniejszych ekranach */
    }
    p {
        padding: 0px 30px;
    }
}